h3 span { 
	float: right; 
	font-style: italic;
	font-weight: normal;
	font-size: 0.75em;
	}
	
.logo {
	width: 32px; 
	height:32px;
	}
	
dd {
	font-size: 105%;
	}
	
.hidden, .hidden h3, .hidden a { color: #656359 !important; }	

.slider {
	font-style: italic;
	}
	
a#linkedin {
	background-image: url(http://www.google.com/s2/u/0/favicons?domain=linkedin.com);
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 18px;
	}
	
a#linkedin:focus, a#linkedin:hover {
	color:#820000;
}