/* due to fixed navbar */
body { 
	padding-top: 20px; 
}

header.page-header {
	margin-bottom: 1em;
	padding-bottom: 0;
}
.GPA {
	font-style: italic;
}

/* for the table-header (Overall GPA, filter buttons) */
.table-header p {
	float: left;
}
.table-header #filterLabel {
	margin-right: 5px;
}

.highlight {
	color: #d9230f; /* when you click on course name, course name turns red */
}

.collapseIcon {
	cursor: pointer;
}

h1.courseName {
	cursor: pointer;
	/* override default h1 behavior in table */
	font-size: 1.0em;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.2em;
}

td ul {
	padding-left: 1em; /* so ul isn't indented as much */
}

#descriptionModal h2 { /* headers like "Syllabus", "Assignments" */
	font-size: 1.25em;	
}