.preview {
	width: 260px;
	height: 200px;
	background-image: none !important;
	border: 1px solid #BBBBBB;
	/* border-radius: 10px; */
}

.topic_content h4 {
	margin: 10px 0 0.5em 10px;
	color: #3F3C30;
}