/* Insert your custom styles here */

.breadcrumb {
	border-bottom: 6px solid #000078;
}

table.red-header th {
	background: none repeat scroll 0 0 #000078;
}

table.KamehamehaTable td {
	padding: 0.75em;
}

table td h3 {
	margin: 0 0.15em;
	font-size: 1.3em;
}

table.KamehamehaTable td ul {
	/* makes it tighter */
	line-height: normal;

	margin-top: 0.5em;
	margin-bottom: 0.8em;
	padding: 0;
}
table.KamehamehaTable td p{
	margin-bottom: 0;
}


@media only screen and (max-width: 640px) {
/* Insert your mobile styles here */
}