/* Declare heights because of positioning of img element */
.carousel .item {
  height: 575px;
  background-color: #777;
}
.carousel-inner > .item > img {
  margin: auto; /* centers the image */
  opacity: 0.33;
}

/* Carousel: text CSS */
.carousel h2 {
  color: white;
}

.carousel-caption p {
    margin-bottom: 20px;
    font-size: 18px;
}

/* spacing
*/
.carousel-caption .btn {
  margin-bottom: 110px;
}
.carousel {
  margin-bottom: 20px;
}

/* Mobile
------------------------- */
@media (max-width: 768px) {
    #carousel-archive .carousel-indicators li {
        height: 50px;
        width: 50px;
    }
  
    .carousel-caption p {
        font-size: medium;
        line-height: 1.3;
    }
    
    .carousel h2 {
        font-size: x-large;
    }
}