footer {
    margin-top: 2em;
}

/*
 * Vertical Timeline CSS
 * http://tympanus.net/codrops/2013/05/02/vertical-timeline/
 */
.cbp_tmtimeline {
    margin: 1em 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
} 

/* The vertical line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #d6defa; /* same as background of content */
    left: 20%;
    margin-left: -10px;
}

/* The date/time */
.cbp_tmtimeline > li {
    position: relative;
}
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    padding-right: 100px;
    position: absolute;
}
.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}
/* small=date */
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #777777; /* normal <p> */
}
/* large=time */
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #3459e6; /* same as icon background color */
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    padding: 2em;
    position: relative;
    border-radius: 5px;
}
/* h3 headers in content boxes */
.cbp_tmtimeline > li .cbp_tmlabel h3 {
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
/* years in resume (e.g. "Web Development Intern, June-Sept. 2012") */
.cbp_tmtimeline > li .cbp_tmlabel h3 span { 
    font-size: 0.75em;
    margin-left: 20px;
}
.cbp_tmtimeline > li .cbp_tmlabel ul {
    padding-left: 1em;
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #d6defa; /* triangle color = same as tmlabel background-color */
    border-width: 10px;
    top: 10px;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    speak: none;
    font-size: 1.4em;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #3459e6;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #d6defa; /* border circle around icons, color matches timeline color */
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}
/* svg icons from https://simpleicons.org not fontawesome */
.cbp_tmicon > img {
    filter: invert(100%);  /* black svg to white */
}


.cbp_tmtimeline > li.showMore {
    padding: 2em;
}
.showMore-icon, .liSlider {
    cursor: pointer;
}
.liSlider {
    list-style: none;
    font-style: italic;
}


/* Example Media Queries */
@media screen and (max-width: 65.375em) {

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #d6defa;
        top: -20px;
    }

    .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }   
}
