.bg-primary {
	/* Stanford: Cardinal red */
    background-color: #8C1515 !important;
}

.btn-primary:active, .btn-primary {
	background-color: #8C1515 !important;
	border-color: #8C1515 !important;
}

.GPA {
	font-style: italic;
}

.highlight {
	color: #8C1515; /* when you click on course name, course name turns blue */
}

.collapseIcon {
	cursor: pointer;
}

input.subjectOptions {
	margin-right: 5px;
}

h1.courseName {
	cursor: pointer;
	/* override default h1 behavior in table */
	font-size: 1.0em;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.2em;
}

td ul {
	padding-left: 1em; /* so ul isn't indented as much */
}

#descriptionModal h2 { /* headers like "Syllabus", "Assignments" */
	font-size: 1.25em;	
}